# --- Streamlit i podstawowe narzędzia ---
streamlit==1.44.0         
openai==1.70.0            
python-dotenv==1.1.0      
qdrant_client==1.13.3    
pydub==0.25.1             

# --- Pakiety do analizy danych i ML ---
pandas==1.5.3             
numpy==1.26.4              
scikit-learn==1.4.2        
matplotlib==3.9.2         
seaborn==0.13.2           

# --- Pakiety dodatkowe ---
pycaret[full]==3.3.2     
ffmpeg-python==0.2.0      
